{% extends 'base.html.twig' %}

{% block title %}Catégories {{ category.name }}
{% endblock %}

{% block body %}
	<h1>{{ category.name }}
	</h1>
	
{% for program in programs %}
	<ul>
		<li>{{ program.title }}</li>
	</ul>
	{% else %}
			Aucune série dans la catégorie {{ category.name }}.
		{% endfor %}


{% endblock %}
