<form method="post" action="{{ path('episode_delete', {'slug': episode.slug}) }}" onsubmit="return confirm('Etes - vous sûre de vouloir supprimer cet épisode');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.slug) }}">
	<button class="btn">Supprimer</button>
</form>
