@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*:root {
    --bg-color-body: #303030;
    --button: #F4B324;
    --font-color: #F6E7D8;
    --title-font-family: 'Archivo Black', sans-serif;
    --text-font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #303030;
    font-family: var(--text-font-family);
    color: var(--font-color);
    font-size: 12px;
    justify-content: center;
}

.navbar {
    background-color: var(--button);
    color: var(--bg-color-body);
    font-family: var(--title-font-family);
}

.programs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-program {
    color: var(--button);
}

.media {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: var(--button) 2px solid;
    border-radius: 5px;
    background-color: #6d6a6a;
    margin: 2rem;
}

.button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button);
    color: var(--bg-color-body);
}